<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Crear Departamento</title>
</head>
<body>
    <h2>Crear Departamento</h2>

    <form method="POST" action="{{ url_for('agregar_depa') }}">
        <div>
            <label for="nombre_propietario">Nombre propietario:</label>
            <input type="text" id="nombre_propietario" name="nombre_propietario" required>
        </div>

        <div>
            <label for="costo">Costo:</label>
            <input type="number" step="0.01" id="costo" name="costo" required>
        </div>

        <div>
            <label for="num_cuartos">Número de cuartos:</label>
            <input type="number" id="num_cuartos" name="num_cuartos" required>
        </div>

        <div>
            <label for="edificio">Edificio:</label>
            <select name="edificio" required>
                <option value="">Seleccione un edificio</option>
                {% for edificio in edificios_disponibles %}
                    <option value="{{ edificio.url }}">{{ edificio.nombre }}</option>
                {% endfor %}
            </select>

            
        </div>

        <button type="submit">Crear Departamento</button>
    </form>
</body>
</html>
